.home-header {
  display: flex;
  justify-content: center;
  background-color: #39a388;
  padding: 20px 100px;
  width: 100vw;
  align-items: center;
}

.login-card {
  display: flex;
  flex-direction: column;
  width: 450px;
  height: 200px;
  margin: 100px auto;
  background-color: #74bba9;
  justify-content: space-between;
  padding: 40px 20px;
  gap: 10px;
  border-radius: 10px;
  align-items: center;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.login-card input,
.btn-login {
  width: 100%;
  font-size: 20px;
  padding: 10px 20px;
  outline: none;
  border: none;
  border-radius: 10px;
}
.btn-login {
  font-size: 26px;
  cursor: pointer;
}
.btn-login:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.home-footer {
  background-color: #39a388;
  width: 100vw;
  color: white;
  padding: 30px;
  position: fixed;
  bottom: 0;
}
.home-footer p {
  text-align: center;
}

.error-msg {
  color: red;
}
.err-hide {
  display: none;
}
@media (max-width: 550px) {
  .login-card {
    width: 80%;
  }
  .home-header{
    padding: 30px 20px;
  }
}
