.notebook-body {
  display: flex;

  flex-direction: column;
  margin-right: 20px;

  width: 75%;
  height: 100vh;
  padding: 10px;
}

.notebook-body__tools {
  display: flex;

  padding: 30px 20px;
  height: 30px;
  width: 100%;
  position: relative;
  border-top: 2px solid rgb(228, 227, 227);
  background-color: rgb(219, 219, 219);
  align-items: center;
  margin-top: 12px;
  /* border-radius: 5px; */
}
.font-family select {
  width: 240px;
}
.notebook-body__tools select {
  height: 30px;
  outline: none;
  border-radius: 5px;
  border: 1px solid rgb(211, 211, 211);
}
.note-save__btn {
  border: none;
  font-size: 16px;
  padding: 7px 20px;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 40px;
}
.note-save__btn:hover {
  background-color: #39a388;
  color: white;
}
.note-share {
  position: absolute;
  right: 30px;
  top: 20px;
  font-size: 18px;
  cursor: pointer;
}

.note__text-area {
  width: 100%;
  height: 100vh;
  border: 2px solid rgb(219, 219, 219);
  outline: none;
  font-size: 16px;
  padding: 20px;
  margin-right: 10px;
  /* border-radius: 10px; */
}

.hidden {
  visibility: hidden;
}
.note-body__title {
  padding-top: 20px;
  margin-left: 5px;
}

@media (max-width: 800px) {
  .note-share {
    position: static;
    transform: translateX(10px);
  }
}
@media (max-width: 670px) {
  .note__text-area {
    width: 95vw;
    margin-right: 20px;
  }
  .notebook-body__tools {
    width: 95vw;
  }
  .note-body__title {
    width: 100vw;
  }
  .note-share {
    transform: translateX(20px);
    /* display: none; */
  }
  .font-family select {
    width: 140px;
  }
  .note-save__btn {
    font-size: 14px;
    margin-left: 20px;
  }
  .notebook-body {
    margin-left: 40px;
  }
}

@media (max-width: 350px) {
  .note-share {
    transform: translateX(10px);
    /* display: none; */
  }
  .note-save__btn {
    font-size: 14px;
    margin-left: 10px;
  }
}
