.notebook-body {
  display: flex;

  flex-direction: column;
  margin-right: 20px;

  width: 75%;
  height: 100vh;
  padding: 10px;
}

.note-title__container {
  display: flex;

  align-items: center;
  position: relative;
}
.fa-arrow-left {
  font-size: 20px;
  position: absolute;
  cursor: pointer;
  left: 400px;
}

.notebook-body__tools {
  display: flex;

  padding: 30px 20px;
  height: 30px;
  width: 100%;
  position: relative;
  border-top: 2px solid rgb(228, 227, 227);
  background-color: rgb(219, 219, 219);
  align-items: center;
  margin-top: 12px;
  /* border-radius: 5px; */
}
.font-family select {
  width: 200px;
}
.notebook-body__tools select {
  height: 30px;
  outline: none;
  border-radius: 5px;
  border: 1px solid rgb(211, 211, 211);
}
.note-save__btn {
  border: none;
  font-size: 16px;
  padding: 7px 20px;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 40px;
}
.note-save__btn:hover {
  background-color: #39a388;
  color: white;
}
.note-share {
  position: absolute;
  right: 30px;
  top: 20px;
  font-size: 18px;
  cursor: pointer;
}

.note__text-area {
  width: 100%;
  height: 100vh;
  border: 2px solid rgb(219, 219, 219);
  outline: none;
  font-size: 16px;
  padding: 20px;
  margin-right: 10px;
  /* border-radius: 10px; */
}

.hidden {
  visibility: hidden;
}
.note-body__title {
  padding-top: 20px;
  margin-left: 5px;
  white-space: nowrap;
}

#font-color,
#bg-color {
  visibility: hidden;
  outline: none;
  border: none;
  width: 25px;
  height: 20px;
  border-radius: 100%;
  background-color: transparent;
  position: relative;
}
.fa-eye-dropper,
.fa-palette {
  font-size: 18px;
  cursor: pointer;
  color: rgb(100, 99, 99);
}
.font-color__tooltip,
.bg-color__tooltip {
  position: absolute;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  z-index: 1;
  top: 0;
  transform: translateX(-30px);
  opacity: 0;
  color: rgb(35, 165, 132);
}
@keyframes effect {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.fa-eye-dropper:hover .font-color__tooltip {
  animation: effect 3s;
}
.fa-palette:hover .bg-color__tooltip {
  animation: effect 3s;
}

@media (max-width: 800px) {
  .note-share {
    position: static;
    transform: translateX(10px);
  }
}
@media (max-width: 670px) {
  .note__text-area {
    width: 90vw;
    margin-right: 20px;
  }
  .notebook-body__tools {
    width: 90vw;
  }
  .note-body__title {
    width: 100vw;
  }
  .note-share {
    transform: translateX(20px);
    /* display: none; */
  }
  .font-family select {
    width: 140px;
  }
  .note-save__btn {
    font-size: 14px;
    margin-left: 20px;
  }
  .notebook-body {
    margin-left: 0px;
    padding-left: 5px;
  }
}
@media (max-width: 490px) {
  .fa-arrow-left {
    left: 300px;
  }
  .font-family select{
    width: 100px;
  }
  .note-share {
    /* transform: translateX(10px); */
    display: none;
  }
  #font-color,
#bg-color{
  
  width: 10px;
}
.note-save__btn {
  font-size: 12px;
  margin-left: 10px;
  padding: 10px;
}
}

@media (max-width: 350px) {
  
  .note-save__btn {
    font-size: 12px;
    margin-left: 5px;
    padding: 5px;
  }
  .fa-arrow-left {
    left: 250px;
  }
}
