@import url("./header.css");
@import url("sidebar.css");
@import url("body.css");
@import url("modals.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.notebook-container {
  display: flex;
  height: 100vh;
}
html {
  scroll-behavior: smooth;
}
