.notebook-sidebar {
  width: 360px;
  /* border: 2px solid rgb(214, 213, 213); */
  margin-top: 70px;
  padding-right: 40px;
  height: 100vh;
justify-content: center;
  overflow: auto;
}
.sidebar-card {
  width: 100%;
  height: 140px;
  padding: 20px;
  background-color: rgb(240, 238, 238);
  text-align: center;
  margin: 10px 25px 0;

  border-radius: 10px;
  position: relative;
  cursor: pointer;
}

.sidebar-card .note-delete,
.note-edit {
  font-size: 18px;
  position: absolute;
  bottom: 10px;

  color: rgb(151, 149, 149);
}
.sidebar-card .note-delete:hover {
  color: rgb(173, 57, 57);
}
.sidebar-card .note-delete {
  right: 10px;
}
.sidebar-card .note-edit {
  right: 40px;
}
.sidebar-card .note-edit:hover {
  color: rgb(216, 160, 55);
}

/* Note Selection */
.note-selected {
  border: 2px solid #1faa87;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transform: scale(1.04);
  background-color: rgb(238, 238, 238);
}

.card-icons {
  display: flex;
}

.sidebar-hide{
  display: hidden;
}
@media (max-width: 690px){
  
  .notebook-sidebar{
    transform: translateX(35px);
  }
}